.footer{
    background: $color-footer;
    padding: 2rem;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    p{
        color: $color-texto;
        }
}

.footer-2{
    background: $color-fondo;
    padding: 2rem;
    display: flex;
    justify-content: center;
    p{
        color: $color-texto;
    }
}